<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.wnu_popup</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/sbin/wnu_popup</string>
		<string>-V</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>KeepAlive</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Fedor Mankov envieid0c (envieidoc@gmail.com).</string>
</dict>
</plist>